extends layout_kor.pug 
block variables 
    -var menuType = 1

block div
    section.jumbotron.jumbotronBg1 
        div.container
            //-p.jumbotronLead LaCalS
    section.jumbotronFooter
        div.container-fluid
            |All kids have their own stage to PLAY!
    section#content
        div.contentTitleWrap
            div.contentTitle.container-fluid
                |Signatures
        div.registration.container-fluid
            h4.majorTitle Registration
            div.detail
                img.mobHide(src="./images/registration.png")
                img.mob(src="./images/registration_mob.png")
                div
                    b + 테마레슨의 경우 스테이지 아카이브(영상 포트폴리오) 제공
                        span 감정·언어·자기표현이 통합된 성장 과정
                    ul 
                        li √ 매 클래스 활동 사진 및 1page 분량 클래스 노트 제공
                        li √ 클래스 정기 발달 컨설팅 리포트(레슨별 상이) 제공
                        li √ Theatre 클래스 정기 쇼케이스로 ‘무대 위 성취 경험’ 제공
        div.introduceWrap.registrationTheme
            div.introduce.container-fluid
                |"LaCalS에서 아이는 배우는 존재를 넘어, 스스로 이야기하고 표현하는 주인공이 됩니다."
        div.stages.container-fluid
            h4.majorTitle Stages
            div.stagesImgWrap
                //-p.stagesImgTitle “Stage · Language · Emotion”
                    span 아이의 무대 위 성장 여정
                img.mobHide(src="./images/stages1WithTitle.png")
                img.mob(src="./images/stages1WithTitle_mob.png")
            div.stagesFlagWrap
                img(src="./images/stages2FlagText.png")
            div.stagesImgWrap
                img.mobHide(src="./images/stages2.png")
                img.mob(src="./images/stages2_mob.png")
        div.keywordIntro.container-fluid
            h4.minorTitle Lama · Harpatka · Bitahon
            p.introTitle '호기심·도전·자신감'을 상징하는 히브리어이며, 각 프로그램에 하브루타 교육 접근법이 녹아있습니다. 아이가 세계 속 다양한 언어와 문화적 맥락을 자연스럽게 접하도록 돕습니다.                                   
        div.keywordWrap
            div.keyword.container-fluid
                ul.keywordList
                    li.keywordListItem(type="button", data-toggle="modal", data-target="#lessonTheme1")
                        div.keywordListTitle
                            h4 01 정규레슨
                            p 자세히 보기 &gt;
                        div.keywordListImgWrap
                            img(src="./images/keywordImage1.png")
                        p.keywordListClassTitle Lama / Harpatka
                        ul.keywordListClassList
                            li 
                                b 형태
                                | 1:1~1:4
                            li 
                                b 수업시간
                                | 60분
                            li 
                                b 주요언어
                                | 다중언어
                    li.keywordListItem(type="button", data-toggle="modal", data-target="#lessonTheme2")
                        div.keywordListTitle
                            h4 02 테마레슨
                            p 자세히 보기 &gt;
                        div.keywordListImgWrap
                            img(src="./images/keywordImage2.png")
                        p.keywordListClassTitle Bitahon / Rhetoric
                        ul.keywordListClassList
                            li 
                                b 형태
                                | 1:2~1:6
                            li 
                                b 수업시간
                                | 60~100분
                            li 
                                b 주요언어
                                | 모국어 기반 언어
                    li.keywordListItem(type="button", data-toggle="modal", data-target="#lessonTheme3") 
                        div.keywordListTitle
                            h4 03 확장클래스
                            p 자세히 보기 &gt;
                        div.keywordListImgWrap
                            img(src="./images/keywordImage3.png")
                        p.keywordListClassTitle World Story Atlas
                        ul.keywordListClassList
                            li 
                                b 형태
                                | 1:2~1:6
                            li 
                                b 수업시간
                                | 50분
                            li 
                                b 주요언어
                                | 글로벌 문화기반 영어
        div.modal.fade#lessonTheme1(tabindex="-1", role="dialog", aria-labelledby="exampleModalLongTitle", aria-hidden="true")
            div.modal-dialog(role="document")
                div.modal-content
                    div.modal-header
                        //div.modal-header
                            h5.modal-title#exampleModalLongTitle
                            button.close(type="button", data-dismiss="modal", aria-label="Close")
                                span(aria-hidden="true") &times;
                        button.modal-close(type="button", data-dismiss="modal", aria-label="Close")
                            span(aria-hidden="true") 
                                i.fa-light.fa.fa-chevron-left
                    div.modal-body
                        p.majorTitle 정규 레슨
                        p.introTitle 사고의 유연성을 길러 세계 어디서든 품격을 갖춘 글로벌 인재 육성을 목표로 합니다.
                        ul.lessonList
                            li 
                                h4.lessonListTitle 클래스 라마 (Class Lama)
                                p.lessonListIntro 창의융합 놀이교육
                                div.lessonListImgWrap
                                    img(src="./images/lessonList1.png")
                                ul.lessonListContent 
                                    li 
                                        b 인원
                                        p 개인 / 그룹(정원 2명)
                                    li 
                                        b 시간
                                        p 1회 60분, 월~금
                                    li 
                                        b 등록
                                        p 최소 10회, 최대 30회 등록 가능
                                            span *1개 프로그램당 기본 10회기 구성
                                    li 
                                        b 대상
                                        p 최소 연령 제한 없음
                                            span *앉을 수 있고 분리 가능 아동 
                                                br
                                                |라칼스 입문
                                    li 
                                        b 구성
                                        p STEAM, 그림책, 인지발달/정서지능 기반 창의/창작 놀이 활동
                                    li 
                                        b 주요언어
                                        p 한국어, 영어, 스페인어, 기타 언어
                            li 
                                h4.lessonListTitle 클래스 하르팟카 (Class Harpatka)
                                p.lessonListIntro 사고 확장 및 표현력 향상 교육
                                div.lessonListImgWrap
                                    img(src="./images/lessonList2.png")
                                ul.lessonListContent 
                                    li 
                                        b 인원
                                        p 소수정예(정원 4명)
                                    li 
                                        b 시간
                                        p 1회 60분, 월~토
                                    li 
                                        b 등록
                                        p 최소 10회, 최대 30회 등록 가능
                                            span *1개 프로그램당 기본 10회기 구성
                                    li 
                                        b 대상
                                        p 최소 만 4세 이상       
                                            span 라칼스 심화
                                    li 
                                        b 구성
                                        p 분야별 탐구활동, 문학/비문학, STEAM x 사고력, 창작활동 x 토론, 사회적학습(SEL) 등
                                    li 
                                        b 주요언어
                                        p 한국어, 영어
                    //hr      
                        div.modal-footer
                            button.btn.btn-secondary(type="button", data-dismiss="modal") Close
                            button.btn.btn-primary(type="button") Save changes
        div.modal.fade#lessonTheme2(tabindex="-1", role="dialog", aria-labelledby="exampleModalLongTitle", aria-hidden="true")
            div.modal-dialog(role="document")
                div.modal-content
                    div.modal-header
                        button.modal-close(type="button", data-dismiss="modal", aria-label="Close")
                            span(aria-hidden="true") 
                                i.fa-light.fa.fa-chevron-left
                    div.modal-body
                        h2.majorTitle 테마 레슨
                        p.introTitle 하브루타식 자기주도 활동을 통해 다양한 직·간접 경험을 하며 세상을 바라보는 시야 확장을 도모합니다.
                        div.lessonListItem
                            h3.lessonListTitle 클래스 비타혼 (Class Bitahon)
                            p.lessonListIntro 자기주도 창작 교육 & 무대 경험
                            ul.lessonListItemList
                                li 
                                    h4.lessonListItemListTitle 01. SEL- 하브루타 연극
                                    p.lessonListItemListIntro (SEL-chavruta theatre) 영국 정통 연극연출가와 함께하는 자기주도 연극 프로그램
                                    div.lessonListImgWrap
                                        img(src="./images/lessonList3.png")
                                    ul.lessonListContent 
                                        li 
                                            b 인원
                                            p 소수정예(정원 6명)
                                        li 
                                            b 시간
                                            p 90-100분
                                        li 
                                            b 등록
                                            p 프로젝트별 등록
                                                span *그룹별 회차 상이
                                        li 
                                            b 대상
                                            p 정규 레슨 최소 1개 프로그램 이수자
                                                br
                                                |최소 만 4세 이상
                                        li 
                                            b 구성
                                            p 그림책부터 클래식 문학까지 다양한 장르를 다각도로 해석하고 
                                                |아이의 색깔로 무대에서 표현하는 경험. 역할 선정, 대본 작성, 
                                                |소품 및 무대 제작 등모든 과정을 단계별로 직접 참여하며 연극
                                                |을 완성. 실제 연극 배우, 의상디자이너, 무대 감독, 조명 감독 
                                                |등 특강
                                        li 
                                            b 주요언어
                                            p 영어
                                li 
                                    h4.lessonListItemListTitle 02. 드라마 & 스피치 (Drama & Speech)
                                    p.lessonListItemListIntro 국제 무대 경험
                                    div.lessonListImgWrap
                                        img(src="./images/lessonList4.png")
                                    ul.lessonListContent 
                                        li 
                                            b 인원
                                            p 개인 / 그룹(정원 2명)
                                        li 
                                            b 시간
                                            p 1회 60분, 월~토
                                        li 
                                            b 등록
                                            p 10회(기본과정), 20회(기본+심화과정)
                                        li 
                                            b 대상
                                            p 정규 레슨 최소 3개 프로그램 이수자
                                                br
                                                |연극 클래스 최소 1개 프로젝트 이수자 또는 동시 등록자
                                        li 
                                            b 구성
                                            p 창작 글쓰기, 발표 태도, 발음, 표정, 감정 이입 등
                                        li 
                                            b 주요언어
                                            p 한국어, 영어
                        div.lessonListItem
                            h3.lessonListTitle 클래스 레토릭 (Class Rhetoric)
                            p.lessonListIntro 자기주도 고차 사고 기반 표현력 향상 프로그램: 말과 글로 표현하는 올인원 문학 수업
                            ul.lessonList
                                li 
                                    div.lessonListImgWrap
                                        img(src="./images/lessonList5.png")
                                    ul.lessonListContent 
                                        li 
                                            b 인원
                                            p 소수정예(정원 4명)
                                        li 
                                            b 시간
                                            p 1회 60분, 월~토
                                        li 
                                            b 등록
                                            p 최소 10회, 최대 30회 등록 가능
                                                span *1개 프로그램당 기본 10회기 구성
                                        li 
                                            b 대상
                                            p 클래스 하르팟카 최소 5개 프로그램 이수자
                                                br
                                                |클래스 비타혼 최소 3개 프로그램 이수자
                                                br
                                                |선발 테스트 有
                                        li 
                                            b 구성
                                            p 문학/비문학 분석, 토론, 발표 글쓰기 등
                                        li 
                                            b 주요언어
                                            p 영어
        div.modal.fade#lessonTheme3(tabindex="-1", role="dialog", aria-labelledby="exampleModalLongTitle", aria-hidden="true")
            div.modal-dialog(role="document")
                div.modal-content
                    div.modal-header
                        button.modal-close(type="button", data-dismiss="modal", aria-label="Close")
                            span(aria-hidden="true") 
                                i.fa-light.fa.fa-chevron-left
                    div.modal-body 
                        h2.majorTitle 확장클래스
                        ul.lessonList
                            li 
                                h4.lessonListTitle 월드스토리아틀라스
                                    br.mob
                                    | (World Story Atlas: WSA)
                                p.lessonListIntro 그림책으로 떠나는 세계 여행
                                div.lessonListImgWrap
                                    img(src="./images/lessonList6.png")
                                ul.lessonListContent 
                                    li 
                                        b 인원
                                        p 그룹(정원 4명)

                                    li 
                                        b 시간
                                        p 1회 50분
                                    li 
                                        b 등록
                                        p 최초 등록 8회    
                                            span *전체 20주 과정
                                    li 
                                        b 대상
                                        p 4세 ~ 7세
                                    li 
                                        b 구성
                                        p 세계 다양한 그림책, 사고력 질문 기반 문화, 역사, 예술 등 관련 연계 활동
                                    li 
                                        b 주요언어
                                        p 영어
        div.contactInfoWrap
            div.contactInfo
                |※ 외부강의 및 기관 협업
                br
                |이메일(postmaster@lacals.com) 별도 문의
    //- Button trigger modal
        button.btn.btn-primary
        (type="button", data-toggle="modal", data-target="#exampleModalLong") Launch demo modal

        //- Modal
        div.modal.fade#exampleModalLong(tabindex="-1", role="dialog", aria-labelledby="exampleModalLongTitle", aria-hidden="true")
            div.modal-dialog(role="document")
                div.modal-content
                    div.modal-header
                        h5.modal-title#exampleModalLongTitle Modal title
                        button.close(type="button", data-dismiss="modal", aria-label="Close")
                            span(aria-hidden="true") &times;
                    div.modal-body
                        | ...
                    div.modal-footer
                        button.btn.btn-secondary(type="button", data-dismiss="modal") Close
                        button.btn.btn-primary(type="button") Save changes            

    style.
        hr {margin: 0 auto; max-width: 1280px; border-top:0; border: 1px solid rgba(137,137,137,0.6);}
        /*팝업창*/
        .modal {padding:2%!important;}
        .modal-dialog {max-width: none!important; margin: 1.7rem;}
        .modal-content {padding: 1.8%; border-radius: 1.2rem;}
        .modal-content .majorTitle {margin-top: 2rem;}
        .modal-header {border: 0; padding: 0;}
        .modal-body {padding: 0;}
        .modal-close {padding: 0; border: 0; font-size: 3.8rem; font-weight: 700; line-height: 1; text-shadow: none; color: #383838; background: transparent;}
        /*Signatures*/
        .registration {}
        .registration .detail {margin-bottom: 8.4rem; display: flex; flex-direction: column; align-items: center; font-size: 1.7rem; text-align: center;}
        .registration .detail img {margin-bottom: 5.5rem; max-width: 64.3rem; width: 100%;}
        .registration .detail b {margin-bottom: 3.5rem; display: block; color: #006c67;}
        .registration .detail span {display: block;}
    
        .stages {margin-bottom: 8.5rem;}
        .stages .majorTitle {margin-bottom: 5.4rem;}
        .stages .stagesImgTitle {font-size: 2.4rem; font-weight: 600; font-family: 'Poppins'; color: #383838;}
        .stages .stagesImgTitle span {margin-top: 0.8rem; font-size: 1.5rem; font-weight: 400; font-family: 'SUIT';}

        .stages .stagesImgWrap {display: flex; flex-direction: column; align-items: center;}
        .stages .stagesImgWrap:first-of-type img {max-width: 763px; width: 100%;}
        .stages .stagesImgWrap:last-of-type img {max-width: 498px; width: 100%;}
        .stages .stagesFlagWrap {margin-top: 84px; margin-bottom: 38px; display: flex; flex-direction: column; align-items: flex-start;}
        .stages .stagesFlagWrap img {max-width: 226px; width: 100%;}
                
        .keywordWrap {background-color: #ff5e00;}
        .keywordIntro .minorTitle {margin-bottom: 0.5rem; font-weight: 600;}
        .keyword {margin:0 auto; padding:3rem 0; font-family: 'SUIT';}
        .keyword .keywordList {display: flex; justify-content: space-between;}
        .keyword .keywordList .keywordListItem {padding: 2.4rem 2rem; border-radius: 1.4rem; cursor: pointer; background-color: white;}
        .keyword .keywordList .keywordListTitle {display: flex; justify-content: space-between; margin-bottom: 0.5rem;}
        .keyword .keywordList .keywordListTitle h4 {margin-bottom: 0; font-size: 1.6rem; font-weight: 700; color:#006c67;}
        .keyword .keywordList .keywordListTitle p {font-size: 1.4rem; font-weight: 600; color:#ff5e00;}
        .keyword .keywordList .keywordListImgWrap {margin-bottom: 1rem;}
        .keyword .keywordList .keywordListImgWrap img {width: 100%;}
        .keyword .keywordList .keywordListClassTitle {font-size: 1.9rem; margin-left: 0.9rem; font-weight: 700;}
        .keyword .keywordList .keywordListClassList {margin-left: 0.9rem; font-size: 1.7rem; line-height: 120%; font-weight:400;}
        .keyword .keywordList .keywordListClassList b {display: inline-block; max-width: 8.6rem; width: 30%; font-weight: 600;}

        /*html구조 통일성이 없어서 .lesson, .lessonList, .lessonListContent를 하위속성이 아닌 개별로 선언*/
        .lesson {font-family: 'SUIT';/*lessonListTitle을 제외한 전부 SUIT*/}
        .lesson .majorTitle {margin-bottom: 0.5rem; font-weight: 500;}
        .lesson .introTitle {line-height: 140%;}
        
        .lessonList {margin:0 auto; display: flex; justify-content: space-between;}
        .lessonList > li {flex: 1;}

        .lessonListTitle {margin-bottom: 1rem; font-size: 3.2rem; font-weight: 500; font-family: 'Poppins'; color: #006c67;}
        .lessonListIntro {margin-bottom: 5rem; font-size: 1.9rem; font-weight: 300; color: #383838;}
        .lessonListImgWrap {width: 53.4rem; margin-bottom: 4.5rem;}
        .lessonListImgWrap img {width: 100%;}
        
        .lessonListContent {margin-bottom: 7.7rem;}
        .lessonListContent > li {margin-bottom: 1rem; display: flex; font-size: 1.8rem; line-height: 140%; color: #383838;}
        .lessonListContent > li:last-child {margin-bottom: 0;}
        .lessonListContent > li b {display: inline-block; min-width: 10.8rem; font-weight: 600;}
        .lessonListContent > li p {margin-bottom: 0;}
        .lessonListContent > li span {display: block; font-style: italic;}

        #lessonTheme2 .lessonListItemList {margin:0 auto; display: flex; gap: 2.9rem; justify-content: space-between;}        
        #lessonTheme2 .lessonListItemList > li {flex: 1;}
        #lessonTheme2 .lessonListItemListTitle {margin-bottom: 1rem; font-size: 2.4rem; font-weight: bold; font-family: 'SUIT'; color: #383838;}      
        #lessonTheme2 .lessonListItemListIntro {height: 8.8rem; /*margin-bottom: 5.6rem;*/ font-size: 1.9rem; font-weight: 500; font-family: 'SUIT'; color: #383838;}
        #lessonTheme3 .majorTitle {margin-bottom: 4.2rem;}

        .contactInfoWrap {margin-bottom: 15rem; background-color: #ff5e00;}
        .contactInfo {padding: 3.4rem 0; font-size: 1.6rem; font-weight: 600; font-family: 'SUIT'; text-align: center; color: white;}
        
        @media (max-width: 1199.98px) {
            .modal-content {padding: 4%;}
            .modal-close {font-size: 2.8rem;}
            hr {margin: 0; border-top:0; border: 7px solid #006C67;}
            .registration {}
            .registration .detail {margin-bottom: 3rem; font-size: 1.4rem; line-height: 140%;}
            .registration .detail img {margin-bottom: 2.5rem;}
            .registration .detail > div {width: 100%;}
            .registration .detail b {font-size: 1.4rem; font-weight: 500; margin-bottom: 0;}
            .registration .detail ul {margin-top: 2rem;}

            .stages {margin-bottom: 4.5rem; padding:0;}
            .stages .stagesImgTitle {margin-top: 3.5rem; display: flex; flex-direction: column; align-items: center; font-size: 2.2rem;}
            .stages .stagesImgTitle span {margin-top: 0.8rem; font-size: 1.5rem;}
            .stages .stagesImgWrap:first-of-type img {max-width: none;}
            .stages .stagesImgWrap:last-of-type img {max-width: 414px;}
            .stages .stagesFlagWrap {margin-top: 40px; margin-bottom: 28px;}
            .stages .stagesFlagWrap img {max-width: 147px;}
                    
            .keywordIntro .minorTitle {margin-bottom: 2rem;}
            .keyword {padding-bottom: 0.8rem;}
            .keyword .keywordList .keywordListItem {padding: 2.2rem 2rem;}
            .keyword .keywordList .keywordListTitle h4 {font-weight: 600;}
            .keyword .keywordList .keywordListTitle p {font-size: 1.3rem; font-weight: 600;}
            .keyword .keywordList .keywordListClassTitle {font-size: 1.8rem; font-weight: 500;}
            .keyword .keywordList .keywordListImgWrap {margin-bottom: 0.5rem;}
            .keyword .keywordList .keywordListClassList {font-size: 1.5rem;}
            .keyword .keywordList .keywordListClassList b {display: inline-block; max-width: 8.6rem; width: 30%; font-weight: 500;}

            .lessonList {flex-direction: column;}

            .lessonListTitle {margin-bottom: 0rem; font-size: 2.2rem; font-weight: 400;/*600*/}
            .lessonListIntro {font-size: 1.7rem; margin-bottom: 3.6rem;}
            .lessonListImgWrap {width: 100%; margin-bottom: 2.4rem;}
            .lessonListContent {}
            .lessonListContent > li {margin-bottom: 0.7rem; font-size: 1.6rem; line-height: 125%;}
            .lessonListContent > li:last-child {margin-bottom: 0;}
            .lessonListContent > li b {min-width: 10.8rem;}

            #lessonTheme1 .lessonList > li:last-child {padding-top: 3.2rem; border-top: 1px solid rgba(137,137,137,0.6);}

            #lessonTheme2 .majorTitle {/*팝업일시 해당사항없음 margin-top: 7.6rem;*/}
            #lessonTheme3 .majorTitle {/*팝업일시 해당사항없음margin-top: 7rem;*/ margin-bottom: 2.8rem;}

            #lessonTheme2 .lessonListItem:first-of-type {margin-bottom: 3.4rem;} /*클래식레토릭 이전*/
            #lessonTheme2 .lessonListItem:last-of-type .lessonList > li {padding: 0;}
            #lessonTheme2 .lessonListItemList {flex-direction: column; gap: 0;}
            #lessonTheme2 .lessonListItemList > li {border-top: 1px solid rgba(137,137,137,0.6);}
            #lessonTheme2 .lessonListItemList > li:last-child {border-bottom: 1px solid rgba(137,137,137,0.6);}
            #lessonTheme2 .lessonListItemListTitle {margin-top: 3.6rem; margin-bottom: 0.5rem; font-size: 1.8rem; font-weight: 800;}
            #lessonTheme2 .lessonListItemListIntro {height: auto; margin-bottom: 3.2rem; font-size: 1.4rem; line-height: 120%; font-weight: 300;}
            #lessonTheme3 .majorTitle {margin-bottom: 0.5rem;}

            .contactInfoWrap {margin-bottom: 20.5rem;}
        }

        @media (max-width: 991.98px) {

        }

        .slick-dots li button:before {font-size: 0.8rem; opacity: 0.2;}
        .slick-dots li.slick-active button:before{color: white; opacity: 1;}
        .slick-dots li button:hover:before {color: white;}
        .slick-list {padding:0 2rem 1rem 0;}
        .slick-slider {margin-left: 2rem;}
        .slick-slide {margin: 0 2rem;}
        
    script.
        $(document).ready(function () {
            
            $('.keywordList').slick({
                dots: true,
                arrows: false,
                mobileFirst: true,
                slidesToShow: 1,
                variableWidth: true,
                //centerMode: true,
                //centerPadding: '60px',
                responsive: [
                    {
                    breakpoint: 980,
                    settings: "unslick"
                    }
                ]
            });

        });