extends layout_eng.pug 
block variables 
    -var menuType = 1

block div
    section.jumbotron.jumbotronBg1 
        div.container
            p.jumbotronLead Signatures
    section.tabMenu
        a.active(href="regular.html") Regular
        a(href="theme.html") Theme
    section#content.container-fluid
        div.lesson
            h4.title Regular Lesson
            p.detail Our regular lessons aim to foster cognitive flexibility and nurture globally minded children who carry themselves with poise—anywhere in the world.
            div.lessonContent
                img(src="../images/lessonImageEng1.png")
                ul
                    li
                        span 01
                        h5 Natural
                            br
                            |Acquisition
                        p 
                            |Children under the age of 49 months perceive language in its purest form—as it is.
                            br
                            |By honoring each child’s unique characteristics, we support balanced development across multiple domains, helping them build flexible and adaptive thinking.
                    li
                        span 02
                        h5 Thoughtfully 
                            br
                            |Designed 
                            br
                            |Curriculum
                        p
                            |Our program is carefully designed with both the present and the future in mind.
                            br
                            |It integrates the Jewish educational philosophy of Havruta—dialogue-based learning—and offers a customized, cross-disciplinary approach grounded in relevant socio-cultural contexts.
                    li
                        span 03
                        h5 Building 
                            br
                            |Strong 
                            br
                            |Foundations
                        p 
                            |We lay the groundwork for authentic self-expression through engaging, immersive play.
                            br
                            |By creating a space where children feel genuinely interested and absorbed, we help them form a strong foundation for creative communication.
                    li
                        span 04
                        h5 Target 
                            br
                            |Age Group
                        p 
                            |For children who are able to separate from caregivers and sit independently, typically up to 48 months of age.
                            br
                            |Lessons are offered in either 1:1 or 1:2 formats to ensure highly personalized attention.
                            //-br.onlyMd
                            //-|만 48개월, 1:1 혹은 1:2로 진행합니다. 
                            //-span.revInfo *체험수업 예약 별도 문의
    style.
        .lesson {padding:4rem 0; padding-bottom:8rem;}
        .lesson .title {font-weight: 800; margin-bottom: 2.2rem; text-align: left;}
        .lesson .detail {font-size: 2.1rem; font-weight: 400; color: #1d1d1f; font-family: "Nanum Square Round"; margin-bottom: 3.4rem;}
        
        .lessonContent {display: flex; justify-content: space-between; align-items: center; align-items: stretch;/*글과 길이 동일하게 변경*/}
        .lessonContent img {width: 25rem; height: 100%; object-fit: cover; border-radius: 25px; margin-right:4rem;}
        .lessonContent ul {}
        .lessonContent ul li {display: flex; align-items: top; padding:1.8rem 0; font-size: 2.1rem; word-break: keep-all; border-top: 1px solid #999;}
        .lessonContent ul li:last-child {border-bottom: 1px solid #999;}
        .lessonContent ul li > span {font-size: 2.4rem; font-weight: 500; color: #f16c22; margin-right:2rem;}
        .lessonContent ul li > h5 {width:16rem; margin:0.4rem 2.8rem 0 0; font-size: 2.4rem; font-weight: 500; color: #6e6e73; white-space: nowrap;}
        .lessonContent ul li > p {margin:0; padding:0; width: calc(100% - 20rem); font-size: 2.2rem;}
    
        .revInfo {font-size:1.8rem; margin-left: 2.8rem; font-style: italic; font-weight: 300; color: #333;}
  
       @media (max-width: 1199.98px) {
            .lessonContent {display: flex; flex-direction: column;}
            .lessonContent img {margin:0; margin-bottom: 4rem; border-radius: 25px; width: 100%; height: 38rem; object-position: top 60% right 0;}
            .revInfo {display: block; margin-left:0;}
        }
        @media (max-width: 991.98px) {
            .lessonContent ul li {flex-wrap: wrap; padding:1.8rem 0.9rem;}
            .lessonContent ul li > p {width: 100%; margin-top: 0.8rem;}
        }