extends layout_eng.pug 
block variables 
    -var menuType = 1

block div
    section.jumbotron.jumbotronBg1 
        div.container
            p.jumbotronLead Signatures
    section.tabMenu
        a(href="regular.html") Regular
        a.active(href="theme.html") Theme
    section#content.container-fluid
        div.lesson
            h4.title Theme Lessons
            p.detail Designed for children 49 months and older, our thematic lessons incorporate Havruta-style self-directed activities, encouraging a broader worldview through various direct and indirect experiences.
                //-span.revInfo *체험수업 예약 별도 문의
            div.lineNumber 
                span 01
            h5.lessonThemeTitle Class Harpatka
            div.lessonThemeContent
                img(src="../images/lessonImage2.png")
                p
                    |Harpatka (meaning “adventure” in Hebrew) is conducted in both English and Korean, designed to expand global thinking through the Havruta method.
                    br
                    |The class supports long-term development in areas such as literacy, critical thinking, and cognitive flexibility—laying a strong foundation for future learning.
                    //-span.highlight 하브루타식 글로벌 사고확장
            div.lineNumber 
                span 02
            h5.lessonThemeTitle Class Bitahon
            div.lessonThemeContent
                img(src="../images/lessonImage3.png")
                p
                    |In collaboration with a UK-trained theatre director, Bitahon offers a self-led theatre program where children interpret a wide range of texts—from picture books to classic literature—through their own creative lens.
                    br
                    |Children take the lead in every step of the theatrical process, from character selection and script-writing to prop creation and stage design, culminating in a performance that is entirely their own.
                    //-span.highlight
                        |자기주도 연극 프로그램
        div.coInfo 
            span ※ External Programs & Collaborations
            p For inquiries about off-site sessions or institutional collaborations, 
                br
                |please contact us via email: postmaster@lacals.com
    style. 
        .lesson {padding-top: 4rem;}
        .lesson .title {font-weight: 800; margin-bottom: 2.2rem; text-align: left;}
        .lesson .detail {font-size: 2.1rem; font-weight: 400; color: #1d1d1f; font-family: "Nanum Square Round"; margin-bottom: 0rem;}

        .lineNumber {display: flex; justify-content: center; padding-top: 14rem; padding-bottom: 4rem;}
        .lineNumber span{display:flex; position: relative; justify-content: center; align-items: center; font-size:2rem;/*width: 5rem; height: 5rem; border-radius:50%;*/}
        .lineNumber span:before{position: absolute; content:''; width: 1px; height: 6rem; transform:translateY(-100%); background-color:#222;}
        
        .lessonThemeTitle {display: flex; font-size: 3.8rem; margin-bottom: 3.5rem;}
        .lessonThemeContent {display: flex; gap: 4rem; align-items: center;}
        .lessonThemeContent img {width:100%; max-width: 40rem; height: 25rem; object-fit: cover; border-radius: 20px;}
        .lessonThemeContent p {margin:0; font-size: 2.5rem; color:#222; white-space: normal;}

        .lessonThemeTitle:last-of-type{justify-content: right;}
        .lessonThemeContent:last-of-type {flex-direction: row-reverse; text-align: right; word-break: keep-all;}

        .revInfo {font-size:1.8rem; margin-left: 4rem; font-style: italic; font-weight: 300; color: #333;}
        .coInfo {display: flex; flex-direction: column; max-width: 60%; justify-content: center; margin:0 auto; font-size: 2.4rem; margin-top: 4rem; margin-bottom:4rem; padding:1rem 0; border-radius:25px; font-weight: 600; background-color:#f8f9fa; text-align: center;}
        .coInfo p {font-size: 2rem; font-weight: 300;}

        @media (max-width: 1199.98px) {
            .lessonThemeTitle:last-of-type{justify-content: left;}
            .lessonThemeContent:last-of-type {flex-direction: row;}
            .lessonThemeContent:last-of-type p {margin:0;}
            .revInfo {display: block; margin-left:0; margin-top: 0.4rem;}
            .coInfo {max-width: none; font-size:2rem; margin-top:2rem;}
        }
        @media (max-width: 991.98px) {
            .lesson .detail {text-align:center;}
            .lineNumber {justify-content: center; padding-top: 6rem; padding-bottom: 1rem;}
            .lineNumber span {font-size: 3.8rem; font-weight: 800;}
            .lineNumber span:before {display:none;}
            .lessonThemeTitle{justify-content: center!important;}
            .lessonThemeContent {gap: 1rem; text-align: center!important; word-break: break-all;}
            .lessonThemeContent p {margin-top:0; font-size: 2.1rem;}
            .lessonThemeContent:nth-child(n+1) {flex-direction: column;}
            .lessonThemeContent img {width:100%;}
        }
        @media (max-width: 470px) {
            .lessonThemeContent p {white-space:normal; word-break: keep-all;}
        }