extends layout_eng.pug 
block variables 
    -var menuType = 1

block div
    section.jumbotron.jumbotronBg1 
        div.container
            p.jumbotronLead LaCalS
    section.tabMenu
        a(href="whatwedo.html") What We Do
        a.active(href="whoweare.html") Who We Are
    section#content.container-fluid
        div.profile.profileTheme1
            div.profileImage
                img(src="../images/profileImage1.png")
            div.profileText
                div.profileName 
                    b Founder
                    |Jamie
                div.profileIntro 
                    |"I am Jamie, dedicated to fostering 
                    b.highlight global talents
                    |."
                div.profileTags 
                    span #GlobalTalent
                    span #NaturalLanguageExposure
                    span #Confidence
                    span #CreativeEducation
                div.profileContent
                    h5.profileContentTitle Education & Research
                    ul.profileContentList
                        li Graduated from Cotter Schools (MN, USA)
                        li B.A. from The University of Iowa (IA, USA)
                            ul
                                li Pre-Medicine Track & Global Health Specialization
                        li M.P.H. from Seoul National University
                            //-ul 
                                li 질적방법 연구
                                li 연구 발표, 논문 수상 다수 
                                li 국내아동 신체활동 주제 졸업논문•국제보건 연구활동
                    h5.profileContentTitle Career Highlights
                    ul.profileContentList 
                        li Published numerous research papers on child development
                        li Presented and awarded at domestic & international academic conferences
                            ul 
                                li - specialized in qualitative research
                        li Served as a health expert at a U.S. children’s education & human rights institution
                            ul 
                                li Worked as a lead teacher for toddlers
                        li Served in diplomatic roles (Junior/Intern) at the Ministry of Foreign Affairs PAHO/WHO Bolivia Office
                            ul 
                                li – participated especially in international child health Projects
                        li Worked in public institutions specializing in global health Managed global health & medical education programs
                            ul 
                                li - project planning, operation, evaluation, and etc.
                    h5.profileContentTitle Additional Credentials
                    ul.profileContentList 
                        li Certifications
                            ul 
                                li TESOL instructor, Level 1 Havruta Teaching Certification, Certified English Storytelling Instructor
                        li Fluent in Korean, English, and Spanish
                        li Extensive collaboration experience with global leaders and institutions across 32 countries
        div.profile.profileTheme2
            div.profileImage
                img(src="../images/profileImage2.png")
            div.profileText
                div.profileName 
                    b Co-Founder
                    |Stella
                div.profileIntro 
                    |"I am Stella, an expert in 
                    b.highlight child development
                    |."
                div.profileTags 
                    span #EmotionalIntelligence
                    span #SelfRegulation
                    span #CognitiveDevelopment
                    span #NonCognitiveSkills
                //-div.profileIntro
                    |아동병원과 정신건강의학과에서 간호사로 일하며 아동의 건강한 삶을 연구하고자 보건학을 전공하고 연구원으로 근무했어요. 
                    br
                    |아동 발달 전문가이자, 아이의 엄마로 늘 어린이의 발달과 성장을 지켜봐왔답니다. 
                    br
                    |LaCalS에서 아이들의 건강한 발달과 정서 지능을 함양시켜주는 선생님으로 아이들의 호기심과 창의성을 이끌고 싶어요!
                div.profileContent
                    h5.profileContentTitle Education
                    ul.profileContentList
                        li B.S. in Nursing, Catholic University of Korea
                        li M.P.H. from Seoul National University
                            br
                            |Conducted multiple research projects on child and women’s health
                    h5.profileContentTitle Career Highlights
                    ul.profileContentList
                        li Former Pediatric Hospital Nurse
                        li Former Psychiatric Nurse
                        li Former Researcher & Mother
                        li Popular Havruta and newborn care instructor
                    h5.profileContentTitle Additional Credentials
                    ul.profileContentList
                        li Certified Child Development Instructor
                        li Level 1 Habruta (Havruta) Teaching Certification
                        li Completed Montessori Early Childhood Education Program
        div.profile.profileTheme3
            div.profileImage
                img(src="../images/profileImage3.png")
            div.profileText
                div.profileName 
                    b Director
                    |Dury
                div.profileIntro 
                    |"I am Dury, 
                    b.highlight a theater director
                    |&nbsp;from the UK."
                div.profileTags 
                    span #Originality
                    span #Storytelling
                    span #ClassicalLiterature
                    span #ArtsEducation
                div.profileContent
                    h5.profileContentTitle Education
                    ul.profileContentList
                        li Foundation Degree – Cambridge School of Visual and Performing Arts, UK
                        li Foundation & Undergraduate Degree in Art – Goldsmiths, University of London
                    h5.profileContentTitle Career Highlights
                    ul.profileContentList 
                        li Director of "Another"
                        li Producer at "Hakchon" Children’s Theater
                        li Lead instructor & program director for Creative Academy’s "Kids London Camp"
                        li Freelance translator & interpreter
                        li Former assistant director at a prestigious performing arts agency
            //-div.profileGallery
                h5.profileGalleryTitle 포트폴리오
                ul.profileGalleryContent
                    li 
                        img(src="https://img.youtube.com/vi/pQTXVXTtZ8E/maxresdefault.jpg")
                    li 
                        img(src="https://img.youtube.com/vi/gPtNGd24RNo/maxresdefault.jpg")
                    li 
                        img(src="https://img.youtube.com/vi/YWqSqLstpuM/maxresdefault.jpg")
                    li 
                        img(src="https://img.youtube.com/vi/4GQ3quyeFc8/maxresdefault.jpg")
                    li 
                        img(src="https://img.youtube.com/vi/MgjthjKS1j0/maxresdefault.jpg")
                    li 
                        img(src="https://img.youtube.com/vi/hQj9A9gkN2M/maxresdefault.jpg")
                    li 
                        img(src="https://img.youtube.com/vi/JrRZwHmEh9o/maxresdefault.jpg")
                    li 
                        img(src="https://img.youtube.com/vi/RGv-l0tMMx8/maxresdefault.jpg")
    style.
        #content.container-fluid {margin-top: 4rem;}
        .profile {display: flex; gap: 10rem; justify-content: space-between; margin-bottom: 7rem;}
        .profileImage {width: 20%; min-width: 34rem; max-width: 38rem; text-align: right;}
        .profileImage img {width: 100%; max-width:74rem; border-radius: 2rem;}
        .profileText {width: 80%;}
        .profileName {font-size: 2.8rem; color: #1d1d1f; margin-bottom: 4rem;}
        .profileName b {margin-right: 1rem;}
        .profileIntro {line-height: 110%; font-size: 4.2rem; font-family: 'SDMisaeng'; font-style: italic; margin-bottom: 1.8rem;}
        .profileTags {display: flex; flex-wrap: wrap; gap: 0.4rem; margin-bottom: 6rem;}
        .profileTags > span {padding: 0.5rem 1rem; font-size: 1.4rem; border-radius: 2rem; box-sizing: border-box; background-color: #1d1d1f; color:#fff;}

        .profileContent {}
        .profileContentTitle {font-size:2.4rem; font-weight: 600; color: #333; margin-bottom: 1rem;}
        .profileContentList {font-size: 2.2rem; margin-bottom: 2.4rem;}
        .profileContentList > li {padding-left: 2rem;}
        .profileContentList > li > ul > li {padding-left: 2rem; font-size: 1.8rem; color: #333;}

        /*불렛 효과*/
        .profileContentTitle {position: relative; padding-left: 0rem;}
        .profileContentTitle:after {position: absolute; content:''; width: 1.2rem; height: 1.2rem; border-radius: 50%; background-color:#f15c22; left: -2.3rem; top: 0.7rem;}

        /*profile별 특이사항 */
        .profileTheme3 .profileImage img {max-width:26rem;}
        .profileTheme1 .profileContentList > li {position: relative;}
        .profileTheme1 .profileContentList > li:after {content: '\2713'; position: absolute; color:#f15c22; opacity: 0.5; left: -0.2rem; top: 0.1rem; font-size: 1.8rem;}
        .profileTheme1 .profileContentList > li span {font-style: italic; font-weight: 300; font-size: 1.8rem;}
       /*선 효과
        .profileContentList {position: relative; padding-left: 4rem;}
        .profileContentList:after {position:absolute; content:''; width:0.2rem; height:calc(100% + 6rem); top: -2rem; left: -1.8rem; background-color:#f15c22;}
        .profileContentList:last-child:after {height: calc(100% + 2rem);}*/
        /*사용안함
        .profileTheme2 {flex-direction: column; align-items: center; justify-content: center; gap: 0;}
        .profileTheme2 .profileIntro {font-size:2.6rem; text-align: center;}*/
        
        /*추후 사용예정
        .profileGallery {width: 100%;
            &Title {font-size: 2.4rem; font-weight: 600; color:#333; margin-bottom: 1rem;}
            &Content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 10vw);
            grid-gap: 15px;
            li {
                img {width: 100%; height: 100%; object-fit: cover;}
            }
            li:nth-child(1) {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 3;
            }
            li:nth-child(2) {
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 2;
            }
            li:nth-child(3) {
                grid-column-start: 4;
                grid-column-end: 5;
                grid-row-start: 1;
                grid-row-end: 3;
            }
            }
        }
        }
        */

        @media (max-width: 1199.98px) {
            .profile {flex-direction: column; gap: 0; text-align: center;}
            .profileName {margin-top: 1.8rem;}
            .profileTags {justify-content: center;}
            .profileImage {width: 100%; padding:0; margin: 0 auto; text-align: center;}
            .profileText {width: 100%;}
            .profileContent {padding-left: 4rem; text-align: left;}
        }